.App-footer{
    display: flex;
    margin-top: 20px;
    padding: 20px;
    background-color: #6366f1;
    justify-content: center;
    gap: 150px;
    text-align: left;
    color: #ffff;
}

.App-footer ul {
    list-style: none;
    padding: 0; 
  }
  
  .App-footer li {
    margin-bottom: 18px; 
  }
  .follow-us{
    display: flex;
    gap: 10px;
    font-size: larger;
  }